/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #ffff;
    margin: 0; 
    padding: 0; 
  
}

.separator {
    border: none;
    border-top: 1px solid #ccc; 
    margin: 20px 0; 
}




/*===================MENU==========================*/

.logo-img {
    width: 40px; 
    height: auto; 
}

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;   
 }

 #menu a{
     color:#333333;
     
 }

 .navbar {
    width: 100%;
    z-index: 1000; 
    background-image: linear-gradient(to right, #ff8a00, #da1b60); 
}


.contenido-pagina {
    padding-top: 60px; 
}

.navbar-nav .nav-link {
    margin: 0 20px;
    transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.2);
}



/*===================CAROUSEL DE IMAGENES==========================*/

.carousel-inner img {
    max-height:50rem !important
}

.carousel-caption {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-100%);
  text-align: left; 
  color: white; 
  }

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo {
    max-height: 30rem;
    width: 50%;
    border-radius: 10px; 
    transition: transform 0.3s ease;
}

#img-equipo:hover {
    transform: scale(1.05); 
}



/*===================SECCION NUESTRO EQUIPO MAPA==========================*/

.numeros-mapa_2{
    color: #ff8a00;
}


/*===========================DESTINOS==================================*/
.destinos-turisticos {
    padding: 20px;
}

.destinos-turisticos h2 {
    text-align: center;
}

.destinos-turisticos .card {
    margin-bottom: 20px;
    height: 100%; 
    flex-direction: column; 
}

.destinos-turisticos .card-img-top {
    height: 200px;
    object-fit: cover;
}

.destinos-turisticos .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
}

.destinos-turisticos .card-title,
.destinos-turisticos .card-text {
    flex: 1; 
}

.destinos-turisticos .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/*===================MODAL==========================*/


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    
  }
  

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  
/*=========================FOOTER================================*/

.footer {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    padding: 0 15px;
  }
  
  .column h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .column p,
  .column li {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .column ul {
    list-style: none;
    padding-left: 0;
  }
  
  .column form {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .column input[type="email"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    max-width: 220px;
  }
  
  .column button {
    padding: 5px 15px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /*=========================PAGINA NOSOTROS================================*/
  .team-section {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}

.team-section h2 {
    margin-bottom: 20px;
}

.team-section p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

/*=========================BANNER DE PAGINAS================================*/
.banner {
    position: relative;
    text-align: left;
  }
  
  .banner-image {
    max-height: 50rem !important;
    width: 100%; 
  }
  
  .banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  
  .banner-title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: left !important;;
  }

  /*=========================PAQUETES DE VIAJE================================*/

  h1, h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  
  a:hover {
    color: #444;
  }
  
  /* Estilos para la cabecera */
  header {
    background-color: #444;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  header img {
    width: 10%;
    margin-bottom: 1rem;
  }
  
  /* Estilos para la sección */
  .plan-viaje {
    background-color: #f7f7f7;
    padding: 2rem 0;
  }
  
  .container-plan-viaje {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .titulo-seccion {
    text-align: center;
  }
  
  /* Estilos para las opciones de viaje */
  .opciones-viaje {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .opcion-viaje {
    width: 30%;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
  }
  
  .opcion-viaje img {
    width: 50%;
    margin: 0 auto;
  }
  
  .opcion-viaje h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  



/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}

  

/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}

